rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    match /Users/{userUid} {
     allow write: if request.auth.uid == userUid;
     allow read: if request.auth.uid != null;
    }
    match /Teams/{teamUid} {
      allow read, write: if request.resources.data.users[request.auth.uid].enabled == true;
    }
  }
}
