rules_version = '2';

service cloud.firestore {
    function isSignedIn() {
        return request.auth != null;
    }


    match /databases/{database}/documents {
        match /{document=**} {
            match /Users/{userUid} {
             allow write: if request.auth.uid == userUid;
             allow read: if isSignedIn();
            }
            match /Teams/{teamUid} {
              allow read, write: if resource.data.users != null && resource.data.users[request.auth.uid] != null && resource.data.users[request.auth.uid].enabled == true;
              allow create: if isSignedIn() && request.resource.data.users[request.auth.uid] != null && request.resource.data.users != null && request.resource.data.users[request.auth.uid].enabled == true;
              allow list: if isSignedIn();
            }

            match /Invites/{inviteUid} {
              allow read, write: if isSignedIn();
            }
            match /Players/{inviteUid} {
                allow read, write: if isSignedIn();
            }
            match /Games/{inviteUid} {
                allow read, write: if isSignedIn();
            }
            match /Media/{inviteUid} {
                allow read, write: if isSignedIn();
            }
            match /Seasons/{inviteUid} {
                allow read, write: if isSignedIn();
            }
            match /GameEvents/{inviteUid} {
                allow read, write: if isSignedIn();
            }
        }
    }
}
