<br clear=both>

<hr style="border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
<p>
    <i><a href='stats.whelksoft.com'>Basketball Stats</a></i> is an app to
    help track your basketball stats.<p><p>
    <a href="https://testflight.apple.com/join/2v8aiAXh">
        <img src="cid:apple-store" width="160" height="54">
    </a>
    &nbsp;&nbsp;
    <a href="https://play.google.com/apps/testing/com.whelksoft.basketballstats">
        <img src="cid:google-store" width="153" height="46">
    </a>
